@import 'tailwindcss';
@import "cropperjs/dist/cropper.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-black: #060606;
    --font-hanken-grotesk: 'Hanken Grotesk', ui-sans-serif, system-ui, sans-serif;
    --text-2xs: 0.625rem; 
    
    --color-background: #F5FAF6;
    --color-primary: #c2e0cb;
    --color-secondary: #93cc9f;
    --color-third: #5e9e6c;
    --color-accent: #303030;
    --color-text: #1f2933;
    --color-dark: #0a8c44;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    -webkit-text-fill-color: #1f2933;
}


/* for Edge (injected eye in passwords) */
@layer utilities {
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none;
    }
}

